.icon-container {
    background-color: #f8f9fa; /* Cor de fundo clara para destacar o ícone */
    border-radius: 50%; /* Torna o contêiner circular */
    border: 2px solid #dee2e6; /* Borda clara para separar o ícone */
  }
  
  .bg-light {
    background-color: #f8f9fa !important; /* Fundo leve para a área do ícone */
  }
  
  .border-right {
    border-right: 1px solid #dee2e6; /* Borda direita para separar o ícone do formulário */
  }
  
  .card {
    background-color: #ffffff; /* Cor de fundo do card */
  }
  