<div class="d-flex justify-content-end mb-1 mt-2">
    <a [routerLink]="path" class="btn btn-primary btn-sm">
        <i class="fas fa-plus"></i> Novo registro
    </a>
</div>
<div class="table-responsive mt-1 mb-3" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-striped">
        <thead class="table-dark text-nowrap">
            <tr>
                <th *ngFor="let col of cols"> <i [ngClass]="col.icon" *ngIf="col.icon"></i> {{ col.label }}</th>
                <th><i class="fas fa-cogs"></i> Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itens">
                <td *ngFor="let col of cols">
                    {{ itemValue(item, col.key) }}
                </td>
                <td>
                    <span class="btn-group btn-group-sm">
                        <a [routerLink]="[path, item.id]" class="btn btn-primary" title="Editar registro">
                            <i class="fas fa-edit"></i>
                          </a>
                        <button class="btn btn-danger" (click)="delete(item.id)" title="Excluir registro">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </span>
                </td>
            </tr>
            <tr *ngIf="itens.length == 0">
                <td [attr.colspan]="cols.length + 1" class="text-center">
                    Nenhum registro encontrado
                </td>
            </tr>
        </tbody>
    </table>
</div>