<app-layout title="Tarefas {{ total ? ' (' + total + ')' : '' }}">
  <app-message [message]="message"></app-message>
  <app-loading [loading]="loading"></app-loading>
  @if (mode == 'new' || mode == 'edit') {
  <app-card-form>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="row align-items-end">
        @if (task) {
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label>Última atualização: </label>
            <input type="text" class="form-control" value="{{ task.updated_at ?? 'Sem alteração' }}" disabled
              readonly />
          </div>
        </div>
        }
        @if (task) {
        <div class="col-md-8 mb-3">
          <div class="form-group">
            <label>Atualizado por: </label>
            <input type="text" class="form-control" value="{{ task.modified_by?.name ?? 'Sem alteração' }}" disabled
              readonly />
          </div>
        </div>
        }
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="title">
              <i class="fas fa-heading"></i> Título
            </label>
            <input id="title" formControlName="title" type="text" class="form-control" required placeholder="Título">
          </div>
        </div>
        <div class="col-md-8 mb-3">
          <div class="form-group">
            <label for="description">
              <i class="fas fa-info-circle"></i> Descrição
            </label>
            <input id="description" formControlName="description" type="text" class="form-control" maxlength="100"
              placeholder="Descrição (Máximo 100 caracteres).">
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="is_done">
              <i class="fas fa-tasks"></i> Status
            </label>
            <select id="is_done" class="form-select" formControlName="is_done">
              <option value="0">Em aberto</option>
              <option value="1">Finalizado</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="project_id">
              <i class="fas fa-building"></i> Projeto
            </label>
            <div class="input-group">
              <select id="project_id" formControlName="project_id" class="form-control">
                <option value="" disabled selected>Selecione um projeto</option>
                @for (project of projects; track project) {
                <option [value]="project.id">
                  {{ project.name }}
                </option>
                }
              </select>
              <button type="button" class="btn btn-success" (click)="openModalProject()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        @if (user?.visibility !== 'Operacional') {
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="project_id">
              <i class="fas fa-building"></i> Responsável
            </label>
            <div class="input-group">
              <select id="project_id" formControlName="owner_id" class="form-control">
                <option value="" disabled selected>Selecione um responsável</option>
                @for (user of users; track user) {
                <option [value]="user.id">
                  {{ user.name }}
                </option>
                }
              </select>
              <button type="button" class="btn btn-success" (click)="openModalUser()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        }
        <div class="col-md-4 mb-3">
          <app-button-submit></app-button-submit>
        </div>
      </div>
    </form>
    <app-messages-validators [backendErrors]="backendErrors"></app-messages-validators>
  </app-card-form>
  }
  @if (mode == 'edit') {
  <div class="card mt-3">
    <div class="card-header">
      <h5>
        <i class="fas fa-comments"></i> Comentários ({{ totalComments }})
      </h5>
    </div>
    <div class="card-body">
      <form [formGroup]="formComment" (submit)="onSubmitComment()">
        <div class="form-group">
          <label for="comment">
            <i class="fas fa-pencil-alt"></i> Digite um comentário
          </label>
          <div class="input-group">
            <input id="comment" type="text" class="form-control" placeholder="Escreva seu comentário aqui"
              formControlName="comment">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-paper-plane"></i> Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body">
      @for (comment of comments; track comment; let i = $index) {
      <div class="comment-item d-flex flex-column mb-3 border p-3 rounded"
        [ngClass]="{'bg-light': i % 2 === 0, 'bg-secondary text-white': i % 2 !== 0}">
        <div class="d-flex align-items-center mb-2">
          <i class="fas fa-user-circle me-2 avatar"></i>
          <span class="comment-user fw-bold">{{ comment.user.name }} {{ comment.source == 'automatic' ?
            '(Comentário automático)' : '' }}</span>
          <small class="comment-date ms-auto text-muted">{{ comment.created_at }}</small>
        </div>
        <p class="comment-text">{{ comment.comment }}</p>
      </div>
      }
      @if (showLoadMoreButton) {
      <button (click)="loadMoreComments()" class="btn btn-primary w-100 mt-3">
        Carregar mais...
      </button>
      }
    </div>
  </div>
  }

  @if (mode === 'view') {
  <div class="mb-1 d-flex justify-content-center">
    <div class="col-3">
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-check-circle"></i>
        </span>
        <select class="form-select" [(ngModel)]="currentTaskStatus" (ngModelChange)="updateTaskStatus($event)">
          <option [value]="null">Todos</option>
          <option [value]="0">Em aberto</option>
          <option [value]="1">Finalizado</option>
        </select>
      </div>
    </div>
  </div>
  }
  <app-table [itens]="tasks" [cols]="cols" path="/tasks" [pages]="pages" (showEvent)="show($event)"
    (deleteEvent)="delete($event)" [actions]="actions"></app-table>
</app-layout>

<div class="modal" id="projectModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title fs-5">Novo projeto</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formProject" (submit)="onSubmitProject()">
          <div class="mb-3">
            <div class="form-group">
              <label for="name">
                <i class="fas fa-tag"></i> Nome
              </label>
              <input id="name" formControlName="name" type="text" class="form-control" placeholder="Nome" required />
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="description">
                <i class="fas fa-info-circle"></i> Descrição (Opcional)
              </label>
              <input id="description" formControlName="description" type="text" class="form-control" maxlength="100"
                placeholder="Descrição (Máximo 100 caracteres).">
            </div>
          </div>
          <app-messages-validators [backendErrors]="backendProjectErrors"></app-messages-validators>
          <app-button-submit></app-button-submit>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="userModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title fs-5">Novo usuário</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formUser" (submit)="onSubmitUser()">
          <div class="row align-items-end">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="name">
                  <i class="fas fa-id-badge"></i> Nome
                </label>
                <input id="name" formControlName="name" type="text" class="form-control" required placeholder="Nome">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="email">
                  <i class="fas fa-envelope"></i> Email
                </label>
                <input id="email" formControlName="email" type="email" class="form-control" maxlength="100"
                  placeholder="Email">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="username">
                  <i class="fas fa-user"></i> Usuário
                </label>
                <input id="username" formControlName="username" type="text" class="form-control" maxlength="100"
                  placeholder="Usuário">
              </div>
            </div>
            @if (user?.visibility == 'Administrador') {
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="department_id">
                  <i class="fas fa-building"></i> Departamento
                </label>
                <div class="input-group">
                  <select id="department_id" formControlName="department_id" class="form-control">
                    <option value="" disabled selected>Selecione um departamento</option>
                    @for (department of departments; track department) {
                    <option [value]="department.id">
                      {{ department.name }}
                    </option>
                    }
                  </select>
                </div>
              </div>
            </div>
            }
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="type">
                  <i class="fas fa-eye"></i> Visibilidade
                </label>
                <select class="form-select" formControlName="visibility">
                  <option value="Administrador">Administrador</option>
                  <option value="Gerente">Gerente</option>
                  <option value="Operacional">Operacional</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="password">
                  <i class="fas fa-key"></i> Senha
                </label>
                <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"
                  class="form-control" maxlength="100" placeholder="Senha de acesso">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="password_confirmation">
                  <i class="fas fa-lock-open"></i> Confirmação de senha
                </label>
                <input id="password_confirmation" formControlName="password_confirmation"
                  [type]="showPassword ? 'text' : 'password'" class="form-control" maxlength="100"
                  placeholder="Confirmar senha">
              </div>
            </div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" (change)="toggleShowPassword()">
            <label class="form-check-label" for="showPassword">Mostrar senha</label>
          </div>
          <app-messages-validators [backendErrors]="backendUserErrors"></app-messages-validators>
          <app-button-submit></app-button-submit>
        </form>
      </div>
    </div>
  </div>
</div>